/* ----COMMON */
* {
  /* box-sizing: border-box; */
}

.my .bg-white {
  background: white;
}

.my .kill-jumbotron-margin-bottom {
  margin-bottom: -30px;
}

a {
  color: #146cf9;
}

.color-white {
  color: white;
}

.my-md-visible {
  display: none;
}

.my-xs-visible {
  display: block;
}

.float-left {
  float: left
}

.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ----STYLE */
/* ----navbar */
nav {
  background: #FFFFFF;
  height: 50px;
}

nav [class*="-menu"] li{
  display: inline-block;
  padding: 0 7px;
  line-height: 50px;
}

nav .logo-container {
  width: 15%;
  line-height: 50px;
}

nav .logo-container img {
  width: 145px;
  vertical-align: sub;
}

nav .left-menu {
  width: 50%;
  text-align: center;
}

nav .right-menu {
  width: 35%;
  text-align: right;
}

nav label {
  font-weight: normal;
}

nav select {
  border: none;
  width: 12px;
}

nav label, nav select:hover {
  cursor: pointer;
}

nav a {
  color: inherit;
}

nav li a:hover {
  text-decoration: none;
  color: inherit;
}

nav .right-menu button {
  border: 1px solid #7d9ffc;
  background: white;
  color: #7d9ffc;
}

nav .sandwich-container {
  line-height: 50px;
  font-size: 22px;
  color: #2b88f9
}

@media screen and (min-width: 992px) {

  .my-xs-visible {
    display: none;
  }
  .my-md-visible {
    display: block;
  }
}

/* ----header */
.my header .jumbotron {
  /* height: 250px; */
  background: url("../img/bg-home.jpg") bottom;
  background-size: cover;
}

header form .btn:first-of-type {
  background: #5b9bfa;
  color: white;
}

header form .google-btn {
  position: relative;
}

header form .google-logo {
  position: absolute;
  left: 10px;
}

/* ----section: companies */
.companies {
  background: #f3f5f9;
}

.companies .images-container img {
  width: 100%;
  /* padding: 0 5px; */
}

/* ----section: deploy */
.deploy {
  background: white;
}

.deploy li {
  list-style: none;
  border-left: 1px solid lightgray;
  padding-left: 10px;
}

/* ----my-slider */
.my-slider .item.active {
  padding: 0 20px;
}

.my-slider {
  background: #f3f5f9;
}

.my-carousel {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

/* container immagine slide */
.my-slider .carousel-inner>.item {
  width: 80%;
  margin: 0 auto;
}

/* frecce slide */
.my-slider a.left.carousel-control,
.my-slider a.right.carousel-control {
  opacity: 1;
  color: #051d4c;
  background: transparent;
}

.my-slider a.left.carousel-control {
  color: #707b96;
}

.my-slider a.right.carousel-control {
  color: #051d4c;
}

/* pallini slide */
.my-slider .carousel-indicators {
  position: relative;
}

.my-slider .carousel-indicators li {
  border: 1px solid #146cf9;
}

.my-slider .carousel-indicators li.my-active {
  background: #146cf9;
}

/* didascalia slide */
.my-slider .carousel-caption {
  color: #051d4c;
  position: relative;
  left: 0;
  top: 10px;
  max-width: 40%;
  margin-right: auto;
  margin-left: auto;
  text-shadow: none;
  font-weight: 500;
}

/* !togli e metti hidden-xs su html! */
@media screen and (max-width: 768px) {
  .my-slider a.left.carousel-control,
  .my-slider a.right.carousel-control {
    visibility: hidden;
  }
}

/* ----section: first-slider */
@media screen and (min-width: 0px) and (max-width: 992px) {

  .my-slider.first-slider .carousel-indicators {
    margin-top: 70px;
  }
}

/* ----section: table */
.section-table {
  background: linear-gradient(180deg, #0b4cc2, #042597);
}

.section-table .table-responsive {
  border: none;
}

.section-table table.table {
  border: none !important;
}

.section-table table tr:first-child td {
  border: none;
}

.section-table table td:nth-child(2) {
  color: #afbde4;
}

.section-table table td:last-child {
  text-align: right;
}

.section-table table td:last-child a {
  color: #23d4d1;
}

/* ----section: second slider */
.second-slider .item-content {
  background: white;
}

.second-slider .item-content img {
  width: 100%;
}

/* ----section: get-started */
.get-started {
  background: linear-gradient(180deg, #0945b7, #052798);
  color: white;
}

.get-started .btn {
  color: #3284fb;
  background: white;
}

/* ----footer */
footer {
  position: relative; /* per posizionare .help */
  background: #051e4d;
}

footer ul {
  width: 100%;
  padding-left: 0;
  list-style: none;
  /* text-align: left; */
}

footer .help {
  position: absolute;
  bottom: 5px;
  left: 5%;
  display: inline-block;
}

footer .help-inner-container {
  position: relative;
  background: yellow;
  /* width: 360px; */
  /* height: 50px; */
}

/* linguetta fumetto */
footer .help .chat::before {
  content: "";
  display: inline-block;
  position: relative;
  height: 10px;
  width: 10px;
  background: gray;
  left: 300px;
  top: 30px;
}
/* /linguetta fumetto */

footer .help .chat {
  height: 50px;
  width: 300px;
  background: orange;
}

footer .help .fish {
  width: 50px;
  height: 50px;
  /* background: lightblue; */
}

footer .help .fish img {
  width: 100%;
}

@media screen and (min-width: 992px) {

  footer .help {
    background: green;
    left: auto;
    right: 2%;
    bottom: 5px;
  }

  footer .help-inner-container {
    width: 360px;
    height: 50px;
  }

  footer .help .fish, .help .chat {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
  }

  footer .help .fish {
    right: 0;
  }

  footer .help .chat {
    left: 0;
  }

}
