/* ----COMMON */
* {
  /* box-sizing: border-box; */
}

.my .bg-white {
  background: white;
}

nav {
  background: #FFFFFF;
  height: 50px;
}
.my .kill-jumbotron-margin-bottom {
  margin-bottom: -30px;
}

/* ----header */
.my header .jumbotron {
  /* height: 250px; */
  background: url("../img/sfondo-pesci.svg");
}

header form .btn:first-of-type {
  background: #5b9bfa;
  color: white;
}

header form .google-btn {
  position: relative;
}

header form .google-logo {
  position: absolute;
  left: 10px;
}

/* ----section: companies */
.companies {
  background: #f3f5f9;
}

.companies .images-container img {
  width: 100%;
  /* padding: 0 5px; */
}

/* ----section: deploy */
.deploy {
  background: white;
}

.deploy li {
  list-style: none;
  border-left: 1px solid lightgray;
  padding-left: 10px;
}

/* ----section: first-slider */
.first-slider .item.active {
  padding: 0 20px;
}

.first-slider {
  background: #f3f5f9;
}

.my-carousel {
  position: relative;
}

.first-slider .carousel.slide {
  width: 60%;
  margin: 0 auto;
}

.first-slider .carousel-inner>.item {
  width: 80%;
  margin: 0 auto;
}

.first-slider a.left.carousel-control, .first-slider a.left.carousel-control, first-slider a.left.carousel-control, .first-slider a.right.carousel-control {
  opacity: 1;
  color: #051d4c;
  background: transparent;
}

.first-slider a.left.carousel-control {
  color: #707b96;
}

.first-slider a.right.carousel-control {
  color: #051d4c;
}

.first-slider .carousel-indicators {
  position: relative;
}

.first-slider .carousel-indicators li {
  border: 1px solid #146cf9;
}

.first-slider .carousel-indicators li.my-active {
  background: #146cf9;
}

.first-slider .carousel-caption {
  color: #051d4c;
  position: relative;
  left: 0;
  top: 10px;
  max-width: 40%;
  margin-right: auto;
  margin-left: auto;
  text-shadow: none;
  font-weight: 500;
}

@media screen and (min-width: 0px) and (max-width: 992px) {

  .first-slider .carousel-indicators {
    margin-top: 70px;
  }
}
